.App {
  font-family: sans-serif;
  text-align: center;
  background-color: blue;
}
button {
  background-color: orange;
  color: white;
}

html {
  background-color: white;
}

.chart-race {
  background-color: blue;
}
